<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-icon name="home" [routerLink]="['/home']"></ion-icon><ion-title>Mis citas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-col>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Especialidad
        </mat-panel-title>
        <mat-panel-description>
          <p>información</p>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ul>
        <li>Fecha:</li>
        <li>Doctor:</li>
        <li>Dirección</li>
      </ul>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Especialidad
        </mat-panel-title>
        <mat-panel-description>
          <p>información</p>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ul>
        <li>Fecha:</li>
        <li>Doctor:</li>
        <li>Dirección</li>
      </ul>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Especialidad
        </mat-panel-title>
        <mat-panel-description>
          <p>información</p>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ul>
        <li>Fecha:</li>
        <li>Doctor:</li>
        <li>Dirección</li>
      </ul>
    </mat-expansion-panel>
  </mat-accordion>
</ion-col>

