<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Elegir especialista</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <div *ngIf="ListaMedicos">
      <ion-item *ngFor="let medicos of ListaMedicos">
        <img style="border-radius: 100px; padding: 5px; width: 17%" alt="Imagen doctor" src= {{medicos.picture.medium}}/>
        <ion-label style="margin-left: 10px;">Dr. {{ medicos.name.first }}</ion-label>
      </ion-item>
    </div>
  </ion-list>

  <ion-button [routerLink]="['/home']">Guardar cita</ion-button>
</ion-content>
