<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Elegir especialista</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-label>Dr. ejemplo1</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Dr. ejemplo2</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Dr. ejemplo3</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Dr. ejemplo4</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Dr. ejemplo5</ion-label>
    </ion-item>
  </ion-list>

  <ion-button [routerLink]="['/home']">Guardar cita</ion-button>
</ion-content>
