.login-box {
    border: rgb(206, 202, 202) 0.1px solid;
    border-radius: 20px;
    padding: 20px;
    margin: 30px;
    margin-block: 30%;

}

.btn-primary {
    background-color:  rgb(0, 204, 255);
    border-color: rgb(0, 204, 255);
    color: #808080	;
}

