  <form class="form-box">
    <div class="login-box">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">Nunca compartiremos su dirección email con nadie.</div>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Contraseña</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
      </div>
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">He leído y acepto los términos y condiciones de uso</label>
      </div>
      <button  [routerLink]="['/home']" class="btn btn-primary" color="rgb(0, 204, 255)">Iniciar sesión</button>
    </div>
  </form>

